@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --container-7xl: 1000px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  @apply mb-4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3,h4,h5,h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

@layer base {
  ul, ol {
      all: revert;
  }
}